.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .slideContainer {
    width: 70%;
    padding: 0 30px;
   background-color: cornflowerblue;
    // margin-bottom: 40px;
  
    .arrows {
      width: 30px;
      height: 30px;
     
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .arrow {
     
        border-radius: 50%;
      }
    }
  }
  
}
