.container {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .slideContainer {
    width: 70%;
    padding: 0 30px;
    background-color: pink;
    // margin-bottom: 40px;
  
    .arrows {
      width: 30px;
      height: 30px;
      background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .arrow {
        background-color: gray;
        border-radius: 50%;
      }
    }
  }
  
}
