.container {
  width: 100%;
  height: 90%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  .mapAndInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
  }
}
