.container {
  width: 100%;
  .search {
    z-index: 100;
    width: 100%;
  }
}

// .root {
//   display: flex;
//   align-items: center;
//   padding:2px 0px 2px 4px;
//   width: 400px;
//   .input {
//     flex: 1;
//   }
//   .iconButton {
//     // padding: 10,
//   }
//   .divider {
//     height: 28px;
//     width:3px;
//   }
// }
